@charset "UTF-8";

/* Mobile First */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 176, 5, 0.562);
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;

    width: 300px;
    height: 530px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    transition: width .3s, height .3s;
}

#img{
    display: block;
    width: 100%;
    height: 200px;

    background: rgba(255,176,5,.562) url(imagens/foto.jpg) center center no-repeat;
    background-size: cover;
}

#forms{
    padding: 10px;
}

#forms h1{
    text-align: center;
    margin-bottom: 10px;
}

#forms p{
    font-size: .8em;
    margin-bottom: 10px;
}

label{
    display: none;
}

form > div{
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;

    margin: 5px 0;

    background-color: rgba(255,176,5,.884);
    border: 2px solid rgba(255,176,5,.884);
    border-radius: 5px;
}

form > div i{
    width: 40px;
    text-align: center;
    font-size: 2em;
}

.resp{
    width: calc(100% - 40px);
    height: 34px;

    border: none;
    border-radius: 15px;

    padding: 0 10px;

    background-color: rgb(243,208,163);
}

.resp:focus{
    background-color: white;
    outline: none;
}

form input[type=submit]{
    display: block;

    width: 100%;
    height: 40px;

    margin-top: 8px;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    font-size: 1em;
    font-weight: bold;

    background-image: linear-gradient(to left,rgba(231,210,117,.849),rgba(252,138,8,.836));
    color: rgba(0,0,0,.8);
}

form input[type=submit]:hover{
    color: white;
    background-color: darkred;
}

form a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 40px;

    margin-top: 6px;;

    border: 2px solid rgb(138,132,132);
    border-radius: 20px;

    background-color: rgb(247,245,245);

    color: rgb(252,138,8);
    text-decoration: none;
    font-weight: bold;

    transition: .3s;
}

form a:hover{
    color: white;

    background-image: linear-gradient(
        to left,
        rgba(255,221,71,.849),
        rgba(231,108,51,.863)
    );
}

form a i{
    font-size: 1.2em;
}